{% extends "layout.html" %}
{% block title %}Loign{% endblock %}

{% block content %}
<form action="/add_review" method="post">
  Leave a review:
  <p>
    Book title<br />
    <input type="text" name="title" />
  </p>
  <p>
    Review<br />
    <textarea name="content" rows="5" cols="40"></textarea>
  </p>
  <p>
    Tags (multiple are seperated with ", ")<br />
    <input type="text" name="tags" />
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Submit" />
</form>
{% endblock %}