{% extends "layout.html" %}
{% block title %}Loign{% endblock %}

{% block content %}
<form action="/add_review" method="post">
  Leave a review:
  <p>
    Book title<br />
    <input type="text" name="title" maxlength="100" value="{{ filled.title }}" required />
  </p>
  <p>
    Review<br />
    <textarea name="content" rows="10" cols="80" maxlength="15000" required>{{ filled.content }}</textarea>
  </p>
  <p>
    <p>Choose categories:</p>
    {% for category in categories %}
    <p>
      <input type="checkbox" name="categories" value="{{ category.id }}" /> {{ category.title }}
    </p>
    {% endfor %}
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Submit" />
</form>
{% endblock %}