{% extends "layout.html" %}
{% block title %}Edit review{% endblock %}

{% block content %}
<form action="/edit_review/{{ review.id }}" method="post">
  Edit review:
  <p>
    Book title<br />
    <input type="text" name="title" value="{{ review.title }}" maxlength="100" required />
  </p>
  <p>
    Review<br />
    <textarea name="content" rows="10" cols="80" maxlength="10000" required> {{ review.content }}</textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Submit" />
</form>
{% endblock %}
