<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1></h1>
  </div>

  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Front page</a></li>
        <li><a href="/search">Search for review</a></li>
        {% if session.user_id %}
        <li><a href="/add_review"> Sumbit a new review</a></li>
        <li><a href="/user/{{session.user_id}}"> User page</a></li>
        <li><a href="/logout">Log out</a></li>
        {% else %}
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Create new account</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>