{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% if session.username %}
  
  <p>Signed in as <a href="/user/{{session.user_id}}">{{ session.username }}</p>
  <p><a href="/logout">Log out</a></p>
  
{% else %}

  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" value="{{ filled.username }}" maxlength="20" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" maxlength="20" required />
    </p>
    <input type="submit" value="Log in" />
  </form>
{% endif %}
{% endblock %}


