{% extends "layout.html" %}
{% block title %}{{ review.title }}{% endblock %}

{% block content %}
{% if review.removed == 0 %}
  <h1>{{ review.title }}</h1>
  <div class="content">{{review.content}}</div>
    
  <a href="/user/{{ review.user_id }}">Submitted by: {{ user.username }}</a>
  <p>
    Tags:
    {% for tag in tags %}
      <a href="/tags/{{ tag.title }}">{{ tag.title }}</a>
    {% endfor %}
  </p>
  
  {% if review.user_id == session.user_id %}
    <p>
      <a href="/edit_review/{{ review.id }}">Edit</a> |
      <a href="/remove_review/{{ review.id }}">Delete</a>
    </p>
  {% endif %}
  <hr />

  {% if session.user_id %}
  <form action="/new_message" method="post">
    <p>
      Leave reply:<br />
      <textarea name="content" rows="5" cols="40" maxlength="500" required ></textarea>
    </p>
    <input type="hidden" name="review_id" value="{{ review.id }}" />
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>
    <input type="submit" value="Send" />
  </form>
  {% endif %}

{% else %}
  <h1>This post has been removed by user</h1>

  {% if review.user_id == session.user_id %}
    <p>
      <a href="/edit_review/{{ review.id }}">Restore post</a>
    </p>
  {% endif %}
{% endif %}

{% for message in messages %}
  <p>
    Posted {{ message.time }} by user <a href="/user/{{ message.user_id }}">{{ message.username }}</a>:
  </p>
  <p>
    {{ message.content }}
  </p>

  {% if message.username == session.username %}
  <p>
    <a href="/edit_message/{{ message.id }}">Edit</a> |
    <a href="/remove_message/{{ message.id }}">Delete</a>
  </p>
  {% endif %}
{% endfor %}
{% endblock %}