{% extends "layout.html" %}
{% block title %}Search{% endblock %}

{% block content %}
  <form action="/search" method="post">
    <p>
      Searchterm:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" maxlength="100" minlength="3" required />
      {% else %}
      <input type="text" name="query" maxlength="100" minlength="3" required/>
      {% endif %}
      <input type="hidden" name="search" value="search">
    </p>
    <input type="submit" value="Search" />
  </form>

 
  {% if results %}
  {% for result in results %}
    {% if result.removed == 0 %}
      <p>
      <a href="/review/{{ result.id }}">{{ result.title }}</a> submitted by  <a href="/user/{{ result.user_id }}">{{ result.username }}</a>
      </p>
    {% else %}
      <p>
        <a href="/review/{{ result.id }}">Removed</a> submitted by  {{ result.username }}
      </p>
    {% endif %}
  {% endfor %}
  {% else %}
  <p>No results found</p>
  {% endif %}

  <hr> 
  <p> Browse categories </p>
  {% for category in categories %}
  <form action="/search" method="post">
    <p>
    <input type="hidden" name="query" value="{{ category.title }}">
    <input type="hidden" name="search" value="category">
    <input type="submit" value="{{ category.title }}" />
    </p>
  </form>
  {% endfor %}
{% endblock %}