{% extends "layout.html" %}
{% block title %}Userpage{% endblock %}

{% block content %}
<h2> User {{ user.username }}</h2>
{% if user.id == session.user_id %}
  {% if user.image %}
    <p>
    <a href="/add_image"> Change profile picture</a>
    </p>
  {% else %}
    <p>
    <a href="/add_image"> Add profile picture</a>
    </p>
  {% endif %}
{% endif %}

{% if user.image %}
  <a href="/image/{{ user.id }}">
  <img src="/image/{{ user.id }}" alt="Profile picture" width="auto" height="200px"/>
  </a>
{% endif %}

{% if not reviews %}
  <p> No reviews found</p>
{% else %}
  <p> Reviews by {{ user.username}}:</p>

{% for review in reviews %}
  {% if review.removed == 0 %}
    <p>
    <a href="/review/{{ review.id }}">{{ review.title }}</a> posted {{review.time}}
  {% else %}
    <a href="/review/{{ review.id }}">Removed</a>
    </p>
  {% endif %}
{% endfor %}
{% endif %}
{% endblock %}
